body {
	/*anything specified for the <body> element will be applied to all the children elements */
	text-align: center;
	background-color: #ffffff;
	/* so with the background property, you were specifying two images. Because styles are read top to bottom (cascading),
	only the last image will be used.
	You were probably not seeing images bc the path you're indicating can only work from the index.html file,
	but since it would call the file from the style.css file, the path would be:
	../images/huaywasilogo.png
	so background: url(../images/huaywasilogo.png);
	More on backgrounds https://developer.mozilla.org/en-US/docs/Web/CSS/background */

	color: #5D006A; /* this color has been set for the whole document, so no need to specify it anymore below,
	unless you want a different text color for an element*/
	font-family: Tahoma, Sans-Serif;
}

h1, p {
	font-size: 15px;
}

.button{
	color: inherit;
	text-decoration: none;
	font-weight: none;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	overflow: auto;
	width: 1200px;
	word-spacing: 20px;
	overflow: auto;
}

.logo {
	float: left;
	width: 140px;
	height: 180px;
	padding: 5px;
}

.main {
	float: center;
	width: 900px;
	height:400px;
}

.header {
	background: #000000;
}

.top {
	text-decoration: none;
	font-weight: none;
	text-align: right;
	padding: 0em 1em;
}

.line {
	width: 1000px;
	color: #ffffff;
}

h2,h3,h4 {
	font-size: 16px;
	text-align: center;
}

.SM, .us{
	font-size: 13px;
	text-align: center;
}

.navleft{
float: left;
padding-left: 8em;
}

.navright{
float: right;
padding-top: 8em;
}

.navright a{
padding: 0em 1em;
}

.slogan{
	padding: none;
	background: #FF6E20;
}

.content{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

